<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>15042909</string>
	<key>SECRET_KEY</key>
	<string>owf3Kyfqa8DsScEP2l1WnYTN3FeDXYYM</string>
	<key>API_KEY</key>
	<string>AsWVn84XpGviO1Fjs0bzuVlA</string>
</dict>
</plist>
